
<div class="container">
  <div class="row">

    <div class="col-xs-6 col-xs-offset-3">
      <h3>

        <%=  @cocktail.name %>
      </h3>

      <ul class="list-group">
        <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item justify-content-between">
          <%=  dose.ingredient.name %>
          <span class="badge badge-default badge-pill"><%= dose.description %></span>
        </li>
        <% end %>
      </ul>


      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "add dose", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>

</div>
